.konteiner{
    width: 400px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px auto auto auto;
    padding-bottom: 50px;
    border-radius: 10px;
}

h1{
    margin-bottom: 40px;
}

.kalkulaator{
    border: 1px solid darkgray;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    color: rgb(245, 245, 245);
    font-size: 32px;
}

.vastus{
    height: 40px;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
}

.nupud{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1px;
    padding: 2px 2px 2px 2px;
}

.nupp{
    width: 24%;
    background-color: rgb(100, 100, 100);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    user-select: none;
    border-radius: 100%;
}

.nupp:active{
    background-color: rgb(75, 75, 75);
}

.nupp.oranz{
    background-color: rgb(255, 69, 0);
}

.nupp.oranz:active{
    background-color: rgb(182, 49, 0);
}

.nupp.tumedam{
    background-color: rgb(75, 75, 75);
}

.nupp.tumedam:active{
    background-color: rgb(58, 58, 58);
}


