body {
    font-family:'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: space-between;
    background-color:antiquewhite;
}

header > a > img, header > div {
    width: 75px;
}

body > nav {
    padding: 15px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    gap: 10px;
}

main {
    padding: 30px;
    background-color: goldenrod;
}

main > p,
main > img {
    width: 60vw;
}

footer {
    padding: 20px;
    background-color: beige;
}

footer > nav {
    display: flex;
    gap: 10px;
}

ul {
    font-style: italic;
}

section {
    word-wrap: break-word;
    width: 23%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    background-color: green;
    font-size: 200%;
    color: white;
  }

  section > a > img {
    width: 24px;
}
